*~
.DS_Store

lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz

pids
logs
results

node_modules
npm-debug.log

README.html

test/dbconfig.mine.js

.idea/
.settings/
.vscode/

docs/annotated
docs/coverage.html
