sudo: false
language: node_js

env:
  - SENECA_VER=@1.x.x
  - SENECA_VER=@2.x.x

node_js:
  - '6'
  - '4'

cache:
  directories:
  - node_modules

services:
- mysql

before_script:
  - mysql -h localhost -u root --password="" < ./script/schema.sql
  - npm uninstall seneca
  - npm install seneca$SENECA_VER

after_script:
  - npm run coverage
